body {
    background: linear-gradient(#92ddc2, #544e94);
}
#mainWrap {
    background-color: #0a0171;
    color: white;
    max-width: 375px;
    min-width: 300px;
    height: auto;
    text-align: center;
    border-color: antiquewhite;
    border-radius: 40px;
    box-sizing: border-box;
    margin: 10% 35% 10% 35%;

    padding: 30px;
    box-sizing: border-box;
}
h3,
p {
    font-family: Raleway;
}

#EmailInput,
#PasswordInput {
    width: 80%;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: #0a0171;
    color: white;
    font-family: Raleway;
}
button {
    width: 80%;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 10px;
}
img {
    margin: 30px;
}
